* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.page {
  min-height: 100vh;
  background-color: #f4f5f7;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  gap:30px;
  flex-wrap: wrap;

}

/* CARD */
.job-card {
  width: 100%;
  max-width: 360px;
  background-color: #fff;
  border-radius: 18px;
  padding: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* CARD HOVER */
.job-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

/* TOP */
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo-wrapper {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

/* BUTTON BASE */
button {
  cursor: pointer;
  transition: all 0.25s ease;
}

/* SAVE BUTTON */
.save-btn {
  background-color: #f5f5f5;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
}

/* SAVE BUTTON HOVER */
.save-btn:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}

/* SAVE BUTTON ACTIVE */
.save-btn:active {
  transform: scale(0.95);
}

/* MIDDLE */
.card-middle {
  margin-top: 14px;
}

.company-time {
  font-size: 13px;
  color: #777;
}

.job-title {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 700;
  color: #111;
}

/* TAGS */
.tags {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: #f2f3f5;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 12px;
  color: #333;
}

/* BOTTOM */
.card-bottom {
  margin-top: 20px;
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}




/* SALARY */
.salary {
  display: flex;
  flex-direction: column;
}

.amount {
  font-size: 16px;
  font-weight: 700;
}

.location {
  font-size: 12px;
  color: #777;
}

/* APPLY BUTTON */
.apply-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 14px;
}

/* APPLY BUTTON HOVER */
.apply-btn:hover {
  background-color: #333;
  transform: scale(1.05);
}

/* APPLY BUTTON ACTIVE */
.apply-btn:active {
  transform: scale(0.95);
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .job-title {
    font-size: 18px;
  }

  .card-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .apply-btn {
    width: 100%;
    text-align: center;
  }
}
