* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Arial, sans-serif;
  background: #2b2a2a;
  color: #eae3e3;
}


input{
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
  }
