.scene {
  position: absolute;
  inset: 0;
}

.circle::before {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  background: rgba(54, 24, 79, 0.3);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p404 {
  position: absolute;
  font-size: 200px;
  font-weight: 800;
  color: white;
}

.p404.blur {
  filter: blur(12px);
  opacity: 0.6;
}
